.app-header {
  background-color: #95EB00;
  color: #fff950;
}

.app-footer {
  background-color: #eee;
}

.btn-link,
a,
a:link {
  color: #FF8A01;
}

a:visited {
  color: #FF9A08;
}

a:hover,
a:focus,
a:active,
.btn-link:hover,
.btn-link:focus {
  color: #6AE83f;
}

.link-gray:hover,
.link-gray:focus {
  color: #FF8A01 !important;
}
